.navBar{
	-fx-background-color: #245;
}

.navButton{
	-fx-background-color: #245;
	-fx-text-fill: #fee;
}

.navButton:hover{
	-fx-border-color: #fee;
	-fx-font-size: 18px;
	-fx-opacity: 1;
}

.leftPane, .centerPane, .rightPane{
	-fx-background-color: #cde;
}

.centerPane{
	-fx-border-color: #245;
	-fx-border-width: 0 1 0 1;
}

.separator{
	-fx-background-color: #245;
}

.centerTitle{
	-fx-text-fill: #245;
	-fx-border-color: #245;
	-fx-border-width: 0 0 1 0;
}

.title{
	-fx-text-fill: #245;
	-fx-font-weight: bold;
}

.subtitle{
	-fx-text-fill: #245;
}

.CommonButton{
	-fx-background-color: #245;
	-fx-text-fill: #fee;
	-fx-font-weight: bold;
}

.CommonButton:hover{
	-fx-opacity: 0.7;
	-fx-font-size: 24px;
}

.Input{
	-fx-background-color: #fee;
}