.navBar{
	-fx-background-color: #245;
}

.navButton{
	-fx-background-color: #245;
	-fx-text-fill: #fee;
}

.navButton:hover{
	-fx-border-color: #fee;
	-fx-font-size: 18px;
	-fx-opacity: 1;
}

.leftPane, .centerPane, .rightPane{
	-fx-background-color: #cde;
}

.centerPane{
	-fx-border-color: #245;
	-fx-border-width: 0 1 0 1;
}

.separator{
	-fx-background-color: #245;
}

.centerTitle{
	-fx-text-fill: #245;
	-fx-border-color: #245;
	-fx-border-width: 0 0 1 0;
}

.title{
	-fx-text-fill: #245;
	-fx-font-weight: bold;
}

.subtitle{
	-fx-text-fill: #245;
}

.CommonButton{
	-fx-background-color: #245;
	-fx-text-fill: #fee;
	-fx-font-weight: bold;
}

.CommonButton:hover{
	-fx-opacity: 0.7;
	-fx-font-size: 24px;
}

.Input{
	-fx-background-color: #fee;
}

.choice-box{
	-fx-background-color: #245;
	-fx-text-fill: #fee;
}

.choice-box > .label{
	-fx-text-fill: #fee;
	-fx-font-size: 14px;
}

.choice-box .arrow-button {
    -fx-border-color: #cde;
}

.choice-box .arrow-button .arrow {
    -fx-background-color: #cde;  
}

.text-area {
    -fx-control-inner-background: #fee;   
	-fx-text-fill: #245;
}

.date-picker .text-field {
    -fx-control-inner-background: #fee;  
    -fx-text-fill: #245;                     
}

.date-picker-popup {
    -fx-background-color: #fee;
    -fx-border-color: #245;
}

.date-picker .arrow-button {
    -fx-background-color: #245;
}


.scroll-pane {
    -fx-background-color: #fee;
    -fx-border-color: #245;
    -fx-border-width: 1px;
}


.scroll-pane .viewport {
    -fx-background-color: #fee;
}


.checkbox{
    -fx-font-size: 14px;
    -fx-text-fill: #245;
}

.checkbox .box {
    -fx-background-color: #fee;
    -fx-border-color: #245;
    -fx-border-width: 1px;
}

.scroll-pane .scroll-bar {
    -fx-background-color: transparent; 
    -fx-pref-width: 12px;             
    -fx-pref-height: 12px;            
}


.scroll-pane .scroll-bar .track {
    -fx-background-color: #245; /* color de fondo */
    -fx-background-insets: 0;
}

.errorTexto{
	-fx-text-fill: #a21;
}

#categoriaNuevaBtn:hover{
	-fx-font-size: 18px;
}

#categoriaNuevaBtn{
	-fx-font-size: 18px;
}

#filtrarBtn:hover{
	-fx-font-size: 24px;
}

.resultadosPanel{
	-fx-background-color: #cde;
	-fx-border-color: #245;
}

.resultadoGasto{
	-fx-border-color: #245;
	-fx-background-color: #fee;
}

.resultadoGasto .label{
	-fx-text-fill: #245;
	-fx-font-weight: bold;
}

.editBtn{
	-fx-background-color: #245;
	-fx-font-weight: bold;
	-fx-text-fill: #fee;
	-fx-font-size: 14px;
}

.editBtn:hover{
	-fx-opacity: 0.7;
	-fx-font-size: 14px;
}


